name: Créer le conteneur et le déployer sur le registre GitHub Packages


on:
  push:
    branches: 
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Configuration de Docker buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 


      - name: Log into registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d 
        with:
          registry: ghcr.io 
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} 


      - name: Construire et publier le conteneur docker sur le registre GitHub Packages
        uses: docker/build-push-action@v5
        with:
          context: . 
          push: true
          tags: ghcr.io/emreis12/ue19-lab-05
